__pycache__
company_researcher/**/__pycache__/
company_researcher/venv
company_researcher/.env


**/venv/
**/__pycache__/
**/.env
**/Lib/
**/tmp/

**/crawenv/
crawl4ai/crawlenv/
clickup_agent/example.txt
